[submodule "nft-core"]
	path = nft-core
	url = https://github.com/pramod-shenkar/nft-core
[submodule "nft-protoc"]
	path = nft-protoc
	url = https://github.com/pramod-shenkar/nft-protoc.git
[submodule "nft-ui"]
	path = nft-ui
	url = https://github.com/pramod-shenkar/nft-ui.git
[submodule "nft-chain"]
	path = nft-chain
	url = https://github.com/pramod-shenkar/nft-chain/
[submodule "nft-deploy"]
	path = nft-deploy
	url = https://github.com/pramod-shenkar/nft-deploy/
[submodule "nft-auction"]
	path = nft-auction
	url = https://github.com/pramod-shenkar/nft-auction/
[submodule "workbooks"]
	path = workbooks
	url = https://github.com/pramod-shenkar/workbooks/

